In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px
import matplotlib
from wordcloud import WordCloud
from pathlib import Path

In [2]:
# Load the full set of data
glassdoor_df=pd.read_csv('glassdoor.csv')
glassdoor_df

# Preview the data
glassdoor_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 165290 entries, 0 to 165289
Columns: 163 entries, benefits.benefitRatingDecimal to wwfu
dtypes: bool(11), float64(35), int64(23), object(94)
memory usage: 193.4+ MB

In [3]:
# Load review data
review_df=pd.read_csv('glassdoor_reviews.csv')
review_df

# Preview the data
review_df.columns

Index(['id', 'index', 'reviews.val.cons', 'reviews.val.date',
       'reviews.val.featured', 'reviews.val.helpfulCount', 'reviews.val.id',
       'reviews.val.pros', 'reviews.val.publishedOn', 'reviews.val.publisher',
       'reviews.val.reviewRatings.careerOpportunities',
       'reviews.val.reviewRatings.compBenefits',
       'reviews.val.reviewRatings.cultureValues',
       'reviews.val.reviewRatings.overall',
       'reviews.val.reviewRatings.seniorManagement',
       'reviews.val.reviewRatings.worklifeBalance',
       'reviews.val.reviewerDuration', 'reviews.val.reviewerInformation',
       'reviews.val.reviewerJobTitle', 'reviews.val.reviewerLocation',
       'reviews.val.reviewerStatus', 'reviews.val.summaryPoints.ceoApproval',
       'reviews.val.summaryPoints.outlook',
       'reviews.val.summaryPoints.recommend', 'reviews.val.title',
       'reviews.val.adviceToManagement', 'reviews.val.companyResponse',
       'reviews.val.reviewResponses'],
      dtype='object')

In [4]:
# Load review value data
review_val_df=pd.read_csv('glassdoor_reviews_val_reviewResponses.csv')
review_val_df

# Preview the data
review_val_df.columns

Index(['id', 'index', 'reviews.val.reviewResponses.val.createDate',
       'reviews.val.reviewResponses.val.helpfulCount',
       'reviews.val.reviewResponses.val.jobTitle',
       'reviews.val.reviewResponses.val.notHelpfulCount',
       'reviews.val.reviewResponses.val.responseText',
       'reviews.val.reviewResponses.val.responseTextLength',
       'reviews.val.reviewResponses.val.totalHelpfulCount',
       'reviews.val.reviewResponses.val.updateDate'],
      dtype='object')

In [5]:
# Load salary  data
salary_df=pd.read_csv('glassdoor_salary_salaries.csv')
salary_df

# Preview the data
salary_df.columns

Index(['id', 'index', 'salary.salaries.val.basePayCount',
       'salary.salaries.val.jobTitle', 'salary.salaries.val.payPeriod',
       'salary.salaries.val.salaryPercentileMap.payPercentile10',
       'salary.salaries.val.salaryPercentileMap.payPercentile90',
       'salary.salaries.val.salaryPercentileMap.payPercentile50',
       'salary.salaries.val.salaryType'],
      dtype='object')

In [6]:
#merge tables together into single dataframe
# Place the DataFrames side by side
glassdoor_merge_df = pd.concat([glassdoor_df, review_df, review_val_df, salary_df], axis=1)
glassdoor_merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422180 entries, 0 to 422179
Columns: 210 entries, benefits.benefitRatingDecimal to salary.salaries.val.salaryType
dtypes: float64(83), int64(1), object(126)
memory usage: 676.4+ MB

In [7]:
#columns to drop from main table
drop_columns1 = ['benefits.highlights',
    'benefits.numRatings',
    'benefits.employerSummary',
    'breadCrumbs',
    'gaTrackerData.expired',
    'gaTrackerData.jobId.int',
    'gaTrackerData.jobId.long',
    'gaTrackerData.jobViewTrackingResult.jobViewDisplayTimeMillis',
    'gaTrackerData.jobViewTrackingResult.requiresTracking',
    'gaTrackerData.jobViewTrackingResult.trackingUrl',
    'gaTrackerData.locationType',
    'gaTrackerData.pageRequestGuid.guid',
    'gaTrackerData.pageRequestGuid.guidValid',
    'gaTrackerData.pageRequestGuid.part1',
    'gaTrackerData.pageRequestGuid.part2',
    'gaTrackerData.profileConversionTrackingParams.trackingCAT',
    'gaTrackerData.profileConversionTrackingParams.trackingSRC',
    'gaTrackerData.profileConversionTrackingParams.trackingXSP',
    'header.adOrderId',
    'header.advertiserType',
    'header.applyButtonDisabled',
    'header.applyUrl',
    'header.blur',
    'header.coverPhoto',
    'header.easyApply',
    'header.expired',
    'header.featuredVideo',
    'header.locationType',
    'header.logo',
    'header.logo2x',
    'header.needsCommission',
    'header.organic',
    'header.overviewUrl',
    'header.payPeriod',
    'header.posted',
    'header.salarySource',
    'header.saved',
    'header.sgocId',
    'header.sponsored',
    'header.urgencyLabel',
    'header.urgencyLabelForMessage',
    'header.urgencyMessage',
    'header.userAdmin',
    'header.uxApplyType',
    'job.description',
    'job.discoverDate',
    'job.eolHashCode',
    'job.importConfigId',
    'job.jobSource',
    'map.address',
    'map.lat',
    'map.lng',
    'map.location',
    'map.postalCode',
    'overview.allBenefitsLink',
    'overview.allPhotosLink',
    'overview.allReviewsLink',
    'overview.allSalariesLink',
    'overview.allVideosLink',
    'overview.companyVideo',
    'overview.competitors',
    'overview.description',
    'overview.mission',
    'overview.website',
    'photos',
    'rating.ceo.photo',
    'rating.ceo.photo2x',
    'salary.country.cc3LetterISO',
    'salary.country.ccISO',
    'salary.country.continent.continentCode',
    'salary.country.continent.continentName',
    'salary.country.continent.new',
    'salary.country.countryFIPS',
    'salary.country.currency.defaultFractionDigits',
    'salary.country.currency.name',
    'salary.country.currency.negativeTemplate',
    'salary.country.currency.new',
    'salary.country.currency.positiveTemplate',
    'salary.country.currency.symbol',
    'salary.country.defaultLocale',
    'salary.country.defaultName',
    'salary.country.defaultShortName',
    'salary.country.employerSolutionsCountry',
    'salary.country.major',
    'salary.country.name',
    'salary.country.new',
    'salary.country.population',
    'salary.country.shortName',
    'salary.country.tld',
    'salary.country.type',
    'salary.country.usaCentricDisplayName',
    'salary.currency.defaultFractionDigits',
    'salary.currency.displayName',
    'salary.currency.negativeTemplate',
    'salary.currency.new',
    'salary.currency.positiveTemplate',
    'salary.currency.symbol',
    'wwfu'
    ]

In [8]:
#columns to drop from review_df
drop_columns2 = [
       'reviews.val.reviewerStatus',
       'reviews.val.adviceToManagement', 'reviews.val.companyResponse',
       'reviews.val.reviewResponses']

In [9]:
#columns to drop from review_val_df
drop_columns3 = [
       'reviews.val.reviewResponses.val.helpfulCount',
       'reviews.val.reviewResponses.val.notHelpfulCount',
       'reviews.val.reviewResponses.val.responseTextLength',
       'reviews.val.reviewResponses.val.totalHelpfulCount',
       'reviews.val.reviewResponses.val.updateDate']

In [10]:
#columns to drop from salary_df
drop_columns4 = ['salary.salaries.val.payPeriod',
       'salary.salaries.val.salaryPercentileMap.payPercentile10',
       'salary.salaries.val.salaryPercentileMap.payPercentile90',
       'salary.salaries.val.salaryPercentileMap.payPercentile50',
       'salary.salaries.val.salaryType']

In [11]:
glassdoor_merge_df.drop(
    labels=drop_columns1,
    axis=1,
    index=None,
    columns=None,
    level=None,
    inplace=True,
    errors='raise',
)
glassdoor_merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422180 entries, 0 to 422179
Columns: 112 entries, benefits.benefitRatingDecimal to salary.salaries.val.salaryType
dtypes: float64(61), int64(1), object(50)
memory usage: 360.7+ MB

In [12]:
glassdoor_merge_df.drop(
    labels=drop_columns2,
    axis=1,
    index=None,
    columns=None,
    level=None,
    inplace=True,
    errors='raise',
)
glassdoor_merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422180 entries, 0 to 422179
Columns: 108 entries, benefits.benefitRatingDecimal to salary.salaries.val.salaryType
dtypes: float64(60), int64(1), object(47)
memory usage: 347.9+ MB

In [13]:
glassdoor_merge_df.drop(
    labels=drop_columns3,
    axis=1,
    index=None,
    columns=None,
    level=None,
    inplace=True,
    errors='raise',
)
glassdoor_merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422180 entries, 0 to 422179
Columns: 103 entries, benefits.benefitRatingDecimal to salary.salaries.val.salaryType
dtypes: float64(56), int64(1), object(46)
memory usage: 331.8+ MB

In [14]:
glassdoor_merge_df.drop(
    labels=drop_columns4,
    axis=1,
    index=None,
    columns=None,
    level=None,
    inplace=True,
    errors='raise',
)
glassdoor_merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 422180 entries, 0 to 422179
Data columns (total 98 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   benefits.benefitRatingDecimal                  165290 non-null  float64
 1   benefits.comments                              165289 non-null  float64
 2   gaTrackerData.category                         165290 non-null  float64
 3   gaTrackerData.empId                            165290 non-null  float64
 4   gaTrackerData.empName                          147081 non-null  object
 5   gaTrackerData.empSize                          147081 non-null  object
 6   gaTrackerData.industry                         117885 non-null  object
 7   gaTrackerData.industryId                       165290 non-null  float64
 8   gaTrackerData.jobTitle                         165290 non-null  object
 9   gaTrackerData.location                         95007 non-null   object
 10  gaTrackerData.locationId                       165290 non-null  float64
 11  gaTrackerData.sector                           117917 non-null  object
 12  gaTrackerData.sectorId                         165290 non-null  float64
 13  header.applicationId                           165290 non-null  float64
 14  header.employerId                              165290 non-null  float64
 15  header.employerName                            162045 non-null  object
 16  header.gocId                                   165290 non-null  float64
 17  header.hideCEOInfo                             165290 non-null  object
 18  header.jobTitle                                165290 non-null  object
 19  header.locId                                   165290 non-null  float64
 20  header.location                                165285 non-null  object
 21  header.rating                                  165290 non-null  float64
 22  header.savedJobId                              165290 non-null  float64
 23  header.normalizedJobTitle                      29155 non-null   object
 24  header.payHigh                                 3662 non-null    float64
 25  header.payLow                                  3662 non-null    float64
 26  header.payMed                                  3642 non-null    float64
 27  header.salaryHigh                              3662 non-null    float64
 28  header.salaryLow                               3662 non-null    float64
 29  job.jobReqId.long                              165269 non-null  float64
 30  job.jobReqId.int                               21 non-null      float64
 31  job.jobTitleId                                 165290 non-null  float64
 32  job.listingId.long                             165044 non-null  float64
 33  job.listingId.int                              246 non-null     float64
 34  map.country                                    115262 non-null  object
 35  map.employerName                               147149 non-null  object
 36  overview.foundedYear                           165290 non-null  float64
 37  overview.hq                                    145923 non-null  object
 38  overview.industry                              117885 non-null  object
 39  overview.industryId                            165290 non-null  float64
 40  overview.revenue                               147081 non-null  object
 41  overview.sector                                117917 non-null  object
 42  overview.sectorId                              165290 non-null  float64
 43  overview.size                                  147081 non-null  object
 44  overview.stock                                 46357 non-null   object
 45  overview.type                                  147081 non-null  object
 46  rating.ceo.name                                112334 non-null  object
 47  rating.ceo.ratingsCount                        146899 non-null  float64
 48  rating.ceoApproval                             146899 non-null  float64
 49  rating.recommendToFriend                       146899 non-null  float64
 50  rating.starRating                              146899 non-null  float64
 51  reviews                                        165290 non-null  float64
 52  salary.country.continent.id                    76777 non-null   float64
 53  salary.country.currency.currencyCode           76777 non-null   object
 54  salary.country.currency.displayName            76777 non-null   object
 55  salary.country.currency.id                     76777 non-null   float64
 56  salary.country.currencyCode                    76777 non-null   object
 57  salary.country.id                              76777 non-null   float64
 58  salary.country.longName                        76777 non-null   object
 59  salary.country.uniqueName                      76777 non-null   object
 60  salary.currency.currencyCode                   76777 non-null   object
 61  salary.currency.id                             76777 non-null   float64
 62  salary.currency.name                           76777 non-null   object
 63  salary.lastSalaryDate                          76777 non-null   object
 64  salary.salaries                                147149 non-null  float64
 65  id                                             422180 non-null  int64
 66  index                                          343221 non-null  float64
 67  reviews.val.cons                               343214 non-null  object
 68  reviews.val.date                               343221 non-null  object
 69  reviews.val.featured                           343221 non-null  object
 70  reviews.val.helpfulCount                       343221 non-null  float64
 71  reviews.val.id                                 343221 non-null  float64
 72  reviews.val.pros                               343221 non-null  object
 73  reviews.val.publishedOn                        343221 non-null  object
 74  reviews.val.publisher                          343083 non-null  object
 75  reviews.val.reviewRatings.careerOpportunities  343221 non-null  float64
 76  reviews.val.reviewRatings.compBenefits         343221 non-null  float64
 77  reviews.val.reviewRatings.cultureValues        343221 non-null  float64
 78  reviews.val.reviewRatings.overall              343221 non-null  float64
 79  reviews.val.reviewRatings.seniorManagement     343221 non-null  float64
 80  reviews.val.reviewRatings.worklifeBalance      343221 non-null  float64
 81  reviews.val.reviewerDuration                   317178 non-null  object
 82  reviews.val.reviewerInformation                343221 non-null  object
 83  reviews.val.reviewerJobTitle                   289683 non-null  object
 84  reviews.val.reviewerLocation                   343191 non-null  object
 85  reviews.val.summaryPoints.ceoApproval          343221 non-null  float64
 86  reviews.val.summaryPoints.outlook              343221 non-null  float64
 87  reviews.val.summaryPoints.recommend            343221 non-null  float64
 88  reviews.val.title                              342899 non-null  object
 89  id                                             25267 non-null   float64
 90  index                                          25267 non-null   float64
 91  reviews.val.reviewResponses.val.createDate     25267 non-null   object
 92  reviews.val.reviewResponses.val.jobTitle       22585 non-null   object
 93  reviews.val.reviewResponses.val.responseText   25267 non-null   object
 94  id                                             408763 non-null  float64
 95  index                                          338391 non-null  float64
 96  salary.salaries.val.basePayCount               338391 non-null  float64
 97  salary.salaries.val.jobTitle                   338364 non-null  object
dtypes: float64(53), int64(1), object(44)
memory usage: 315.7+ MB

In [15]:
#job titles to keep
keep_titles = ['Assistant data analyst',
                'Assistant data engineer',
                'Assistant data scientist',
                'associate business analyst',
                'associate data analyst',
                'associate data engineer intern',
                'associate data engineer',
                'associate data scientist',
                'bi analyst IV',
                'bi analyst',
                'business analyst consultant',
                'business analyst I',
                'business analyst Intern',
                'business analyst manager',
                'business analyst Trainee',
                'business analyst',
                'business data analyst',
                'Chief data scientist',
                'coop data analyst',
                'coop data engineer',
                'coop data scientist',
                'coop it business analyst',
                'data analyst intern',
                'data analyst manager',
                'data analyst',
                'data engineer intern',
                'data engineer',
                'data scientist director',
                'data scientist I',
                'data scientist intern',
                'data scientist Leader',
                'data scientist Manager',
                'data scientist',
                'financial data analyst',
                'Freelance data analyst',
                'Freelance data engineer',
                'Freelance data scientist',
                'Freelance Junior data engineer',
                'Freelance Lead data engineer',
                'Freelance Lead data scientist',
                'Graduate business analyst',
                'graduate data analyst',
                'graduate data engineer',
                'it business analyst intern',
                'it business analyst Manager',
                'it business analyst Trainee',
                'it business analyst',
                'Junior bi analyst',
                'junior business analyst intern',
                'Junior business analyst',
                'junior data analyst',
                'Junior data engineer',
                'junior data scientist intern',
                'Junior data scientist',
                'Junior it business analyst',
                'lead bi analyst director',
                'lead bi analyst',
                'lead business analyst',
                'lead data analyst',
                'lead data engineer',
                'lead data scientist',
                'lead it business analyst',
                'new grad data engineer',
                'PhD data scientist',
                'principal business analyst',
                'principal data analyst',
                'principal data engineer',
                'principal data scientist',
                'sap business analyst',
                'Senior bi analyst',
                'senior business analyst consultant',
                'senior business analyst manager',
                'senior business analyst',
                'senior business data analyst',
                'senior data analyst',
                'senior data engineer',
                'senior data scientist manager',
                'senior data scientist',
                'senior it business analyst',
                'Senior Manager business analyst',
                'senior sap business analyst',
                'senior staff data scientist',
                'staff data engineer'
                ]

In [16]:
data_jobs_df = glassdoor_merge_df.set_index("header.normalizedJobTitle")
data_jobs_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 422180 entries, nan to nan
Data columns (total 97 columns):
 #   Column                                         Non-Null Count   Dtype
---  ------                                         --------------   -----
 0   benefits.benefitRatingDecimal                  165290 non-null  float64
 1   benefits.comments                              165289 non-null  float64
 2   gaTrackerData.category                         165290 non-null  float64
 3   gaTrackerData.empId                            165290 non-null  float64
 4   gaTrackerData.empName                          147081 non-null  object
 5   gaTrackerData.empSize                          147081 non-null  object
 6   gaTrackerData.industry                         117885 non-null  object
 7   gaTrackerData.industryId                       165290 non-null  float64
 8   gaTrackerData.jobTitle                         165290 non-null  object
 9   gaTrackerData.location                         95007 non-null   object
 10  gaTrackerData.locationId                       165290 non-null  float64
 11  gaTrackerData.sector                           117917 non-null  object
 12  gaTrackerData.sectorId                         165290 non-null  float64
 13  header.applicationId                           165290 non-null  float64
 14  header.employerId                              165290 non-null  float64
 15  header.employerName                            162045 non-null  object
 16  header.gocId                                   165290 non-null  float64
 17  header.hideCEOInfo                             165290 non-null  object
 18  header.jobTitle                                165290 non-null  object
 19  header.locId                                   165290 non-null  float64
 20  header.location                                165285 non-null  object
 21  header.rating                                  165290 non-null  float64
 22  header.savedJobId                              165290 non-null  float64
 23  header.payHigh                                 3662 non-null    float64
 24  header.payLow                                  3662 non-null    float64
 25  header.payMed                                  3642 non-null    float64
 26  header.salaryHigh                              3662 non-null    float64
 27  header.salaryLow                               3662 non-null    float64
 28  job.jobReqId.long                              165269 non-null  float64
 29  job.jobReqId.int                               21 non-null      float64
 30  job.jobTitleId                                 165290 non-null  float64
 31  job.listingId.long                             165044 non-null  float64
 32  job.listingId.int                              246 non-null     float64
 33  map.country                                    115262 non-null  object
 34  map.employerName                               147149 non-null  object
 35  overview.foundedYear                           165290 non-null  float64
 36  overview.hq                                    145923 non-null  object
 37  overview.industry                              117885 non-null  object
 38  overview.industryId                            165290 non-null  float64
 39  overview.revenue                               147081 non-null  object
 40  overview.sector                                117917 non-null  object
 41  overview.sectorId                              165290 non-null  float64
 42  overview.size                                  147081 non-null  object
 43  overview.stock                                 46357 non-null   object
 44  overview.type                                  147081 non-null  object
 45  rating.ceo.name                                112334 non-null  object
 46  rating.ceo.ratingsCount                        146899 non-null  float64
 47  rating.ceoApproval                             146899 non-null  float64
 48  rating.recommendToFriend                       146899 non-null  float64
 49  rating.starRating                              146899 non-null  float64
 50  reviews                                        165290 non-null  float64
 51  salary.country.continent.id                    76777 non-null   float64
 52  salary.country.currency.currencyCode           76777 non-null   object
 53  salary.country.currency.displayName            76777 non-null   object
 54  salary.country.currency.id                     76777 non-null   float64
 55  salary.country.currencyCode                    76777 non-null   object
 56  salary.country.id                              76777 non-null   float64
 57  salary.country.longName                        76777 non-null   object
 58  salary.country.uniqueName                      76777 non-null   object
 59  salary.currency.currencyCode                   76777 non-null   object
 60  salary.currency.id                             76777 non-null   float64
 61  salary.currency.name                           76777 non-null   object
 62  salary.lastSalaryDate                          76777 non-null   object
 63  salary.salaries                                147149 non-null  float64
 64  id                                             422180 non-null  int64
 65  index                                          343221 non-null  float64
 66  reviews.val.cons                               343214 non-null  object
 67  reviews.val.date                               343221 non-null  object
 68  reviews.val.featured                           343221 non-null  object
 69  reviews.val.helpfulCount                       343221 non-null  float64
 70  reviews.val.id                                 343221 non-null  float64
 71  reviews.val.pros                               343221 non-null  object
 72  reviews.val.publishedOn                        343221 non-null  object
 73  reviews.val.publisher                          343083 non-null  object
 74  reviews.val.reviewRatings.careerOpportunities  343221 non-null  float64
 75  reviews.val.reviewRatings.compBenefits         343221 non-null  float64
 76  reviews.val.reviewRatings.cultureValues        343221 non-null  float64
 77  reviews.val.reviewRatings.overall              343221 non-null  float64
 78  reviews.val.reviewRatings.seniorManagement     343221 non-null  float64
 79  reviews.val.reviewRatings.worklifeBalance      343221 non-null  float64
 80  reviews.val.reviewerDuration                   317178 non-null  object
 81  reviews.val.reviewerInformation                343221 non-null  object
 82  reviews.val.reviewerJobTitle                   289683 non-null  object
 83  reviews.val.reviewerLocation                   343191 non-null  object
 84  reviews.val.summaryPoints.ceoApproval          343221 non-null  float64
 85  reviews.val.summaryPoints.outlook              343221 non-null  float64
 86  reviews.val.summaryPoints.recommend            343221 non-null  float64
 87  reviews.val.title                              342899 non-null  object
 88  id                                             25267 non-null   float64
 89  index                                          25267 non-null   float64
 90  reviews.val.reviewResponses.val.createDate     25267 non-null   object
 91  reviews.val.reviewResponses.val.jobTitle       22585 non-null   object
 92  reviews.val.reviewResponses.val.responseText   25267 non-null   object
 93  id                                             408763 non-null  float64
 94  index                                          338391 non-null  float64
 95  salary.salaries.val.basePayCount               338391 non-null  float64
 96  salary.salaries.val.jobTitle                   338364 non-null  object
dtypes: float64(53), int64(1), object(43)
memory usage: 315.7+ MB

In [17]:
#select friom index job titles to keep
data_jobs_df = data_jobs_df.loc[keep_titles]
data_jobs_df.info()

In [19]:
data_jobs_df.head()

,benefits.benefitRatingDecimal,benefits.comments,gaTrackerData.category,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.industryId,gaTrackerData.jobTitle,gaTrackerData.location,...,reviews.val.title,id,index,reviews.val.reviewResponses.val.createDate,reviews.val.reviewResponses.val.jobTitle,reviews.val.reviewResponses.val.responseText,id,index,salary.salaries.val.basePayCount,salary.salaries.val.jobTitle
header.normalizedJobTitle,,,,,,,,,,,,,,,,,,,,,
Assistant data analyst,0.000000,8728.0,20007.0,10349.0,Galeries Lafayette,10000--1,"Department, Clothing, & Shoe Stores",200105.0,Alternance : Assistant Data Analyst Stage ou a...,Paris,...,NaN,1298.0,0.0,2019-06-25T06:11:17,Employer Brand Lead,"Hello,\r\nThank you for taking the time to pro...",262.0,0.0,1.0,Sales Assistant
Assistant data analyst,3.636364,54737.0,20007.0,3120.0,Saint-Gobain,10000--1,Industrial Manufacturing,200073.0,Assistant(e) Data Analyst - STAGE (H/F),NaN,...,Great company and culture,22763.0,0.0,2019-08-26T10:21:00,Chief Information Officer,Thank you for sharing your journey thus far wi...,47440.0,2.0,1.0,Commercial
Assistant data analyst,0.000000,57821.0,20007.0,10349.0,Galeries Lafayette,10000--1,"Department, Clothing, & Shoe Stores",200105.0,Alternance : Assistant Data Analyst Stage ou a...,Paris,...,NaN,6986.0,0.0,2019-10-14T09:13:01,Director,"Thanks for the great review, and we wish you w...",52694.0,1.0,1.0,Lead Generator
Assistant data analyst,4.076923,109264.0,20007.0,4075.0,Orange,10000--1,Telecommunications Services,200122.0,Stage - Assistante - Assistant Data Analyst,NaN,...,GL is a a great place to work,NaN,NaN,NaN,NaN,NaN,79450.0,2.0,1.0,Account Manager
Assistant data analyst,4.076923,156087.0,20007.0,4075.0,Orange,10000--1,Telecommunications Services,200122.0,Stage : Stage - Assistante - Assistant Data An...,Orange,...,Empresa excelente,NaN,NaN,NaN,NaN,NaN,97596.0,1.0,159.0,Associate Recruitment Consultant

In [18]:
data_jobs_df.to_csv('glassdoor_data_jobs.csv')