In [51]:
import pandas as pd

In [52]:
df1 = pd.read_csv('glassdoor_data_jobs.csv')

In [53]:
df1.head()

,header.normalizedJobTitle,benefits.benefitRatingDecimal,benefits.comments,gaTrackerData.category,gaTrackerData.empId,gaTrackerData.empName,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.industryId,gaTrackerData.jobTitle,gaTrackerData.location,gaTrackerData.locationId,gaTrackerData.sector,gaTrackerData.sectorId,header.applicationId,header.employerId,header.employerName,header.gocId,header.hideCEOInfo,header.jobTitle,header.locId,header.location,header.rating,header.savedJobId,header.payHigh,header.payLow,header.payMed,header.salaryHigh,header.salaryLow,job.jobReqId.long,job.jobReqId.int,job.jobTitleId,job.listingId.long,job.listingId.int,map.country,map.employerName,overview.foundedYear,overview.hq,overview.industry,overview.industryId,overview.revenue,overview.sector,overview.sectorId,overview.size,overview.stock,overview.type,rating.ceo.name,rating.ceo.ratingsCount,rating.ceoApproval,rating.recommendToFriend,rating.starRating,reviews,salary.country.continent.id,salary.country.currency.currencyCode,salary.country.currency.displayName,salary.country.currency.id,salary.country.currencyCode,salary.country.id,salary.country.longName,salary.country.uniqueName,salary.currency.currencyCode,salary.currency.id,salary.currency.name,salary.lastSalaryDate,salary.salaries,id,index,reviews.val.cons,reviews.val.date,reviews.val.featured,reviews.val.helpfulCount,reviews.val.id,reviews.val.pros,reviews.val.publishedOn,reviews.val.publisher,reviews.val.reviewRatings.careerOpportunities,reviews.val.reviewRatings.compBenefits,reviews.val.reviewRatings.cultureValues,reviews.val.reviewRatings.overall,reviews.val.reviewRatings.seniorManagement,reviews.val.reviewRatings.worklifeBalance,reviews.val.reviewerDuration,reviews.val.reviewerInformation,reviews.val.reviewerJobTitle,reviews.val.reviewerLocation,reviews.val.summaryPoints.ceoApproval,reviews.val.summaryPoints.outlook,reviews.val.summaryPoints.recommend,reviews.val.title,id.1,index.1,reviews.val.reviewResponses.val.createDate,reviews.val.reviewResponses.val.jobTitle,reviews.val.reviewResponses.val.responseText,id.2,index.2,salary.salaries.val.basePayCount,salary.salaries.val.jobTitle
0,Assistant data analyst,0.000000,8728.0,20007.0,10349.0,Galeries Lafayette,10000--1,"Department, Clothing, & Shoe Stores",200105.0,Alternance : Assistant Data Analyst Stage ou a...,Paris,2881970.0,Retail,10022.0,0.0,10349.0,Galeries Lafayette,200116.0,False,Alternance : Assistant Data Analyst Stage ou a...,2881970.0,Paris,3.7,0.0,NaN,NaN,NaN,NaN,NaN,4.207685e+09,NaN,-1.0,3.290068e+09,NaN,France,Galeries Lafayette,1893.0,"Paris, France","Department, Clothing, & Shoe Shops",200105.0,£2 to £5 billion (GBP),Retail,10022.0,10000+ employees,NaN,Company - Private,Philippe Houzé,56.0,0.71,0.75,3.7,8728.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7819.0,44315,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1298.0,0.0,2019-06-25T06:11:17,Employer Brand Lead,"Hello,\r\nThank you for taking the time to pro...",262.0,0.0,1.0,Sales Assistant
1,Assistant data analyst,3.636364,54737.0,20007.0,3120.0,Saint-Gobain,10000--1,Industrial Manufacturing,200073.0,Assistant(e) Data Analyst - STAGE (H/F),NaN,-1.0,Manufacturing,10015.0,0.0,3120.0,Saint-Gobain,200116.0,False,Assistant(e) Data Analyst - STAGE (H/F),86.0,France,3.7,0.0,NaN,NaN,NaN,NaN,NaN,4.209098e+09,NaN,-1.0,3.398351e+09,NaN,FR,Saint-Gobain,1665.0,"Courbevoie, France",Industrial Manufacturing,200073.0,£5 to £10 billion (GBP),Manufacturing,10015.0,10000+ employees,NaN,Company - Public,Pierre-André de Chalendar,376.0,0.83,0.74,3.7,54737.0,4.0,GBP,United Kingdom Pound (GBP),2.0,GBP,2.0,United Kingdom,United Kingdom,GBP,2.0,United Kingdom Pound,2019-10-04T21:57:41,48816.0,45148,0.0,Max contribution limits to 401k.,"Aug 10, 2019",False,0.0,28559544.0,The company works hard to make sure their asso...,"Aug 10, 2019",Operational Excellence Manager,5.0,4.0,5.0,5.0,5.0,5.0,for more than a year,Current Employee: I have been working at Pensk...,Operational Excellence Manager,"Reading, PA (US)",1.0,2.0,1.0,Great company and culture,22763.0,0.0,2019-08-26T10:21:00,Chief Information Officer,Thank you for sharing your journey thus far wi...,47440.0,2.0,1.0,Commercial
2,Assistant data analyst,0.000000,57821.0,20007.0,10349.0,Galeries Lafayette,10000--1,"Department, Clothing, & Shoe Stores",200105.0,Alternance : Assistant Data Analyst Stage ou a...,Paris,2881970.0,Retail,10022.0,0.0,10349.0,Galeries Lafayette,200116.0,False,Alternance : Assistant Data Analyst Stage ou a...,2881970.0,Paris,3.7,0.0,NaN,NaN,NaN,NaN,NaN,4.207685e+09,NaN,-1.0,3.290068e+09,NaN,France,Galeries Lafayette,1893.0,"Paris, France","Department, Clothing, & Shoe Shops",200105.0,£2 to £5 billion (GBP),Retail,10022.0,10000+ employees,NaN,Company - Private,Philippe Houzé,56.0,0.71,0.75,3.7,57821.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,51564.0,5805,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6986.0,0.0,2019-10-14T09:13:01,Director,"Thanks for the great review, and we wish you w...",52694.0,1.0,1.0,Lead Generator
3,Assistant data analyst,4.076923,109264.0,20007.0,4075.0,Orange,10000--1,Telecommunications Services,200122.0,Stage - Assistante - Assistant Data Analyst,NaN,3019623.0,Telecommunications,10023.0,0.0,4075.0,Orange,200116.0,False,Stage - Assistante - Assistant Data Analyst,3019623.0,Arcueil,3.8,0.0,NaN,NaN,NaN,NaN,NaN,4.194190e+09,NaN,-1.0,3.400388e+09,NaN,NaN,Orange,1988.0,"Paris, France",Telecommunications Services,200122.0,£5 to £10 billion (GBP),Telecommunications,10023.0,10000+ employees,NaN,Company - Private,Stéphane Richard,888.0,0.92,0.82,3.8,109265.0,4.0,GBP,United Kingdom Pound (GBP),2.0,GBP,2.0,United Kingdom,United Kingdom,GBP,2.0,United Kingdom Pound,2019-10-03T22:50:15,97305.0,154490,3.0,Is growing very fast so you have to adapt.,last week,False,0.0,30106540.0,Gorilla Logic is an awesome place to work. The...,last week,Back End Engineer,5.0,4.0,4.0,5.0,3.0,4.0,for more than 3 years,Current Employee: I have been working at Goril...,Back End Engineer,"San Jose, San Jose (Costa Rica)",1.0,1.0,1.0,GL is a a great place to work,NaN,NaN,NaN,NaN,NaN,79450.0,2.0,1.0,Account Manager
4,Assistant data analyst,4.076923,156087.0,20007.0,4075.0,Orange,10000--1,Telecommunications Services,200122.0,Stage : Stage - Assistante - Assistant Data An...,Orange,3011519.0,Telecommunications,10023.0,0.0,4075.0,Orange,200116.0,False,Stage : Stage - Assistante - Assistant Data An...,3011519.0,Orange,3.8,0.0,NaN,NaN,NaN,NaN,NaN,4.199067e+09,NaN,-1.0,3.404378e+09,NaN,France,Orange,1988.0,"Paris, France",Telecommunications Services,200122.0,£5 to £10 billion (GBP),Telecommunications,10023.0,10000+ employees,NaN,Company - Private,Stéphane Richard,888.0,0.92,0.82,3.8,156088.0,4.0,GBP,United Kingdom Pound (GBP),2.0,GBP,2.0,United Kingdom,United Kingdom,GBP,2.0,United Kingdom Pound,2019-10-03T22:50:15,138911.0,92255,4.0,A empresa está crescendo e não tem conseguido ...,4 weeks ago,False,0.0,29750617.0,A empresa é maravilhosa! Eles têm uma cultura ...,4 weeks ago,Product Manager,5.0,5.0,5.0,5.0,5.0,5.0,for less than a year,Current Employee: I have been working at Passe...,Product Manager,Rio de Janeiro (Brazil),0.0,1.0,1.0,Empresa excelente,NaN,NaN,NaN,NaN,NaN,97596.0,1.0,159.0,Associate Recruitment Consultant

In [54]:
pd.set_option('display.max_columns' , None)

In [55]:
df1.columns

Index(['header.normalizedJobTitle', 'benefits.benefitRatingDecimal',
       'benefits.comments', 'gaTrackerData.category', 'gaTrackerData.empId',
       'gaTrackerData.empName', 'gaTrackerData.empSize',
       'gaTrackerData.industry', 'gaTrackerData.industryId',
       'gaTrackerData.jobTitle', 'gaTrackerData.location',
       'gaTrackerData.locationId', 'gaTrackerData.sector',
       'gaTrackerData.sectorId', 'header.applicationId', 'header.employerId',
       'header.employerName', 'header.gocId', 'header.hideCEOInfo',
       'header.jobTitle', 'header.locId', 'header.location', 'header.rating',
       'header.savedJobId', 'header.payHigh', 'header.payLow', 'header.payMed',
       'header.salaryHigh', 'header.salaryLow', 'job.jobReqId.long',
       'job.jobReqId.int', 'job.jobTitleId', 'job.listingId.long',
       'job.listingId.int', 'map.country', 'map.employerName',
       'overview.foundedYear', 'overview.hq', 'overview.industry',
       'overview.industryId', 'overview.revenue', 'overview.sector',
       'overview.sectorId', 'overview.size', 'overview.stock', 'overview.type',
       'rating.ceo.name', 'rating.ceo.ratingsCount', 'rating.ceoApproval',
       'rating.recommendToFriend', 'rating.starRating', 'reviews',
       'salary.country.continent.id', 'salary.country.currency.currencyCode',
       'salary.country.currency.displayName', 'salary.country.currency.id',
       'salary.country.currencyCode', 'salary.country.id',
       'salary.country.longName', 'salary.country.uniqueName',
       'salary.currency.currencyCode', 'salary.currency.id',
       'salary.currency.name', 'salary.lastSalaryDate', 'salary.salaries',
       'id', 'index', 'reviews.val.cons', 'reviews.val.date',
       'reviews.val.featured', 'reviews.val.helpfulCount', 'reviews.val.id',
       'reviews.val.pros', 'reviews.val.publishedOn', 'reviews.val.publisher',
       'reviews.val.reviewRatings.careerOpportunities',
       'reviews.val.reviewRatings.compBenefits',
       'reviews.val.reviewRatings.cultureValues',
       'reviews.val.reviewRatings.overall',
       'reviews.val.reviewRatings.seniorManagement',
       'reviews.val.reviewRatings.worklifeBalance',
       'reviews.val.reviewerDuration', 'reviews.val.reviewerInformation',
       'reviews.val.reviewerJobTitle', 'reviews.val.reviewerLocation',
       'reviews.val.summaryPoints.ceoApproval',
       'reviews.val.summaryPoints.outlook',
       'reviews.val.summaryPoints.recommend', 'reviews.val.title', 'id.1',
       'index.1', 'reviews.val.reviewResponses.val.createDate',
       'reviews.val.reviewResponses.val.jobTitle',
       'reviews.val.reviewResponses.val.responseText', 'id.2', 'index.2',
       'salary.salaries.val.basePayCount', 'salary.salaries.val.jobTitle'],
      dtype='object')

In [56]:
df1.drop(labels=['benefits.comments', 'gaTrackerData.category', 'gaTrackerData.empId','gaTrackerData.empName', 'gaTrackerData.industryId',
       'gaTrackerData.jobTitle','gaTrackerData.locationId', 'gaTrackerData.sectorId', 'header.applicationId', 'header.employerId',
       'header.employerName', 'header.gocId', 'header.hideCEOInfo',
       'header.jobTitle', 'header.locId', 'header.savedJobId', 'header.payHigh', 'header.payLow', 'header.payMed',
       'header.salaryHigh', 'header.salaryLow', 'job.jobReqId.long',
       'job.jobReqId.int', 'job.jobTitleId', 'job.listingId.long',
       'job.listingId.int', 'map.country','overview.foundedYear', 'overview.hq', 'overview.industry',
       'overview.industryId', 'overview.sectorId','overview.stock', 'overview.type',
       'rating.ceo.name', 'rating.ceo.ratingsCount', 'rating.ceoApproval','rating.recommendToFriend','reviews',
       'salary.country.continent.id','salary.country.currency.displayName', 'salary.country.currency.id',
       'salary.country.currencyCode', 'salary.country.id',
       'salary.country.longName', 'salary.country.uniqueName',
       'salary.currency.currencyCode', 'salary.currency.id',
       'salary.currency.name', 'salary.lastSalaryDate','id', 'index', 'reviews.val.cons', 'reviews.val.date',
       'reviews.val.featured', 'reviews.val.helpfulCount', 'reviews.val.id',
       'reviews.val.pros', 'reviews.val.publishedOn', 'reviews.val.publisher','reviews.val.reviewerJobTitle', 'reviews.val.reviewerLocation','reviews.val.summaryPoints.outlook',
       'reviews.val.summaryPoints.recommend','id.1',
       'index.1', 'reviews.val.reviewResponses.val.createDate',
       'reviews.val.reviewResponses.val.jobTitle',
       'reviews.val.reviewResponses.val.responseText', 'id.2', 'index.2',
       'salary.salaries.val.basePayCount', 'salary.salaries.val.jobTitle'], axis = 1,  inplace= True )

In [57]:
df1.columns

Index(['header.normalizedJobTitle', 'benefits.benefitRatingDecimal',
       'gaTrackerData.empSize', 'gaTrackerData.industry',
       'gaTrackerData.location', 'gaTrackerData.sector', 'header.location',
       'header.rating', 'map.employerName', 'overview.revenue',
       'overview.sector', 'overview.size', 'rating.starRating',
       'salary.country.currency.currencyCode', 'salary.salaries',
       'reviews.val.reviewRatings.careerOpportunities',
       'reviews.val.reviewRatings.compBenefits',
       'reviews.val.reviewRatings.cultureValues',
       'reviews.val.reviewRatings.overall',
       'reviews.val.reviewRatings.seniorManagement',
       'reviews.val.reviewRatings.worklifeBalance',
       'reviews.val.reviewerDuration', 'reviews.val.reviewerInformation',
       'reviews.val.summaryPoints.ceoApproval', 'reviews.val.title'],
      dtype='object')

In [58]:
df1.shape

(8152, 25)

In [59]:
df1.isna().sum()

header.normalizedJobTitle                           0
benefits.benefitRatingDecimal                       0
gaTrackerData.empSize                             678
gaTrackerData.industry                           1940
gaTrackerData.location                           2591
gaTrackerData.sector                             1940
header.location                                     0
header.rating                                       0
map.employerName                                  674
overview.revenue                                  678
overview.sector                                  1940
overview.size                                     678
rating.starRating                                 678
salary.country.currency.currencyCode             4405
salary.salaries                                   674
reviews.val.reviewRatings.careerOpportunities    1506
reviews.val.reviewRatings.compBenefits           1506
reviews.val.reviewRatings.cultureValues          1506
reviews.val.reviewRatings.overall                1506
reviews.val.reviewRatings.seniorManagement       1506
reviews.val.reviewRatings.worklifeBalance        1506
reviews.val.reviewerDuration                     1997
reviews.val.reviewerInformation                  1506
reviews.val.summaryPoints.ceoApproval            1506
reviews.val.title                                1510
dtype: int64

In [60]:
df2 = df1.dropna()

In [61]:
df2.shape

(1619, 25)

In [62]:
df1.head()

,header.normalizedJobTitle,benefits.benefitRatingDecimal,gaTrackerData.empSize,gaTrackerData.industry,gaTrackerData.location,gaTrackerData.sector,header.location,header.rating,map.employerName,overview.revenue,overview.sector,overview.size,rating.starRating,salary.country.currency.currencyCode,salary.salaries,reviews.val.reviewRatings.careerOpportunities,reviews.val.reviewRatings.compBenefits,reviews.val.reviewRatings.cultureValues,reviews.val.reviewRatings.overall,reviews.val.reviewRatings.seniorManagement,reviews.val.reviewRatings.worklifeBalance,reviews.val.reviewerDuration,reviews.val.reviewerInformation,reviews.val.summaryPoints.ceoApproval,reviews.val.title
0,Assistant data analyst,0.000000,10000--1,"Department, Clothing, & Shoe Stores",Paris,Retail,Paris,3.7,Galeries Lafayette,£2 to £5 billion (GBP),Retail,10000+ employees,3.7,NaN,7819.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Assistant data analyst,3.636364,10000--1,Industrial Manufacturing,NaN,Manufacturing,France,3.7,Saint-Gobain,£5 to £10 billion (GBP),Manufacturing,10000+ employees,3.7,GBP,48816.0,5.0,4.0,5.0,5.0,5.0,5.0,for more than a year,Current Employee: I have been working at Pensk...,1.0,Great company and culture
2,Assistant data analyst,0.000000,10000--1,"Department, Clothing, & Shoe Stores",Paris,Retail,Paris,3.7,Galeries Lafayette,£2 to £5 billion (GBP),Retail,10000+ employees,3.7,NaN,51564.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Assistant data analyst,4.076923,10000--1,Telecommunications Services,NaN,Telecommunications,Arcueil,3.8,Orange,£5 to £10 billion (GBP),Telecommunications,10000+ employees,3.8,GBP,97305.0,5.0,4.0,4.0,5.0,3.0,4.0,for more than 3 years,Current Employee: I have been working at Goril...,1.0,GL is a a great place to work
4,Assistant data analyst,4.076923,10000--1,Telecommunications Services,Orange,Telecommunications,Orange,3.8,Orange,£5 to £10 billion (GBP),Telecommunications,10000+ employees,3.8,GBP,138911.0,5.0,5.0,5.0,5.0,5.0,5.0,for less than a year,Current Employee: I have been working at Passe...,0.0,Empresa excelente

In [63]:
df2 = df2.drop(labels = ['gaTrackerData.location'], axis =1)

In [64]:
df1 = df1.drop(labels = ['gaTrackerData.location'] , axis = 1)

In [65]:
df1 = df1.drop(labels = ['salary.country.currency.currencyCode'] , axis = 1)

In [66]:
df1 = df1.drop(labels = ['gaTrackerData.industry'] , axis = 1)

In [67]:
df1 = df1.drop(labels = ['overview.sector'] , axis = 1)

In [68]:
df1 = df1.drop(labels = ['reviews.val.title'] , axis = 1)

In [69]:
df1.isna().sum()

header.normalizedJobTitle                           0
benefits.benefitRatingDecimal                       0
gaTrackerData.empSize                             678
gaTrackerData.sector                             1940
header.location                                     0
header.rating                                       0
map.employerName                                  674
overview.revenue                                  678
overview.size                                     678
rating.starRating                                 678
salary.salaries                                   674
reviews.val.reviewRatings.careerOpportunities    1506
reviews.val.reviewRatings.compBenefits           1506
reviews.val.reviewRatings.cultureValues          1506
reviews.val.reviewRatings.overall                1506
reviews.val.reviewRatings.seniorManagement       1506
reviews.val.reviewRatings.worklifeBalance        1506
reviews.val.reviewerDuration                     1997
reviews.val.reviewerInformation                  1506
reviews.val.summaryPoints.ceoApproval            1506
dtype: int64

In [70]:
df3 = df1

In [71]:
df3 = df3.dropna()

In [72]:
df3.shape

(4681, 20)

In [73]:
df3 = df3.drop(labels = ['benefits.benefitRatingDecimal'] , axis = 1)

In [74]:
df3.head()

,header.normalizedJobTitle,gaTrackerData.empSize,gaTrackerData.sector,header.location,header.rating,map.employerName,overview.revenue,overview.size,rating.starRating,salary.salaries,reviews.val.reviewRatings.careerOpportunities,reviews.val.reviewRatings.compBenefits,reviews.val.reviewRatings.cultureValues,reviews.val.reviewRatings.overall,reviews.val.reviewRatings.seniorManagement,reviews.val.reviewRatings.worklifeBalance,reviews.val.reviewerDuration,reviews.val.reviewerInformation,reviews.val.summaryPoints.ceoApproval
1,Assistant data analyst,10000--1,Manufacturing,France,3.7,Saint-Gobain,£5 to £10 billion (GBP),10000+ employees,3.7,48816.0,5.0,4.0,5.0,5.0,5.0,5.0,for more than a year,Current Employee: I have been working at Pensk...,1.0
3,Assistant data analyst,10000--1,Telecommunications,Arcueil,3.8,Orange,£5 to £10 billion (GBP),10000+ employees,3.8,97305.0,5.0,4.0,4.0,5.0,3.0,4.0,for more than 3 years,Current Employee: I have been working at Goril...,1.0
4,Assistant data analyst,10000--1,Telecommunications,Orange,3.8,Orange,£5 to £10 billion (GBP),10000+ employees,3.8,138911.0,5.0,5.0,5.0,5.0,5.0,5.0,for less than a year,Current Employee: I have been working at Passe...,0.0
5,Assistant data analyst,1001-5000,Retail,Saint-Denis,2.6,Showroomprive.com,£1 to £2 billion (GBP),1001 to 5000 employees,2.6,38964.0,4.0,3.0,5.0,5.0,4.0,4.0,for less than a year,Current Employee: I have been working at Habib...,0.0
6,Assistant data analyst,1001-5000,Retail,La Plaine-sur-Mer,2.6,Showroomprive.com,£1 to £2 billion (GBP),1001 to 5000 employees,2.6,99299.0,4.0,4.0,5.0,4.0,4.0,4.0,for more than a year,Current Employee: I have been working at Abbot...,1.0

In [75]:
df3.shape

(4681, 19)

In [76]:
df3.head()

,header.normalizedJobTitle,gaTrackerData.empSize,gaTrackerData.sector,header.location,header.rating,map.employerName,overview.revenue,overview.size,rating.starRating,salary.salaries,reviews.val.reviewRatings.careerOpportunities,reviews.val.reviewRatings.compBenefits,reviews.val.reviewRatings.cultureValues,reviews.val.reviewRatings.overall,reviews.val.reviewRatings.seniorManagement,reviews.val.reviewRatings.worklifeBalance,reviews.val.reviewerDuration,reviews.val.reviewerInformation,reviews.val.summaryPoints.ceoApproval
1,Assistant data analyst,10000--1,Manufacturing,France,3.7,Saint-Gobain,£5 to £10 billion (GBP),10000+ employees,3.7,48816.0,5.0,4.0,5.0,5.0,5.0,5.0,for more than a year,Current Employee: I have been working at Pensk...,1.0
3,Assistant data analyst,10000--1,Telecommunications,Arcueil,3.8,Orange,£5 to £10 billion (GBP),10000+ employees,3.8,97305.0,5.0,4.0,4.0,5.0,3.0,4.0,for more than 3 years,Current Employee: I have been working at Goril...,1.0
4,Assistant data analyst,10000--1,Telecommunications,Orange,3.8,Orange,£5 to £10 billion (GBP),10000+ employees,3.8,138911.0,5.0,5.0,5.0,5.0,5.0,5.0,for less than a year,Current Employee: I have been working at Passe...,0.0
5,Assistant data analyst,1001-5000,Retail,Saint-Denis,2.6,Showroomprive.com,£1 to £2 billion (GBP),1001 to 5000 employees,2.6,38964.0,4.0,3.0,5.0,5.0,4.0,4.0,for less than a year,Current Employee: I have been working at Habib...,0.0
6,Assistant data analyst,1001-5000,Retail,La Plaine-sur-Mer,2.6,Showroomprive.com,£1 to £2 billion (GBP),1001 to 5000 employees,2.6,99299.0,4.0,4.0,5.0,4.0,4.0,4.0,for more than a year,Current Employee: I have been working at Abbot...,1.0

In [77]:
df3['overview.revenue'].unique()

array(['£5 to £10 billion (GBP)', '£1 to £2 billion (GBP)',
       'Less than £1 million (GBP)', '£100 to £500 million (GBP)',
       '£2 to £5 billion (GBP)', '£50 to £100 million (GBP)',
       '£10 to £25 million (GBP)', 'Unknown / Non-Applicable',
       '£25 to £50 million (GBP)', '£500 million to £1 billion (GBP)',
       '£5 to £10 million (GBP)', '£10+ billion (GBP)',
       '£1 to £5 million (GBP)'], dtype=object)

In [78]:
df3['overview.revenue'] = df3['overview.revenue'].apply(lambda x: 7500000000 if x == '£5 to £10 billion (GBP)' else x)
df3['overview.revenue'] = df3['overview.revenue'].apply(lambda x: 1500000000 if x == '£1 to £2 billion (GBP)' else x)
df3['overview.revenue'] = df3['overview.revenue'].apply(lambda x: 500000 if x ==  'Less than £1 million (GBP)'else x)
df3['overview.revenue'] = df3['overview.revenue'].apply(lambda x: 300000000 if x == '£100 to £500 million (GBP)' else x)
df3['overview.revenue'] = df3['overview.revenue'].apply(lambda x: 3500000000 if x == '£2 to £5 billion (GBP)' else x)
df3['overview.revenue'] = df3['overview.revenue'].apply(lambda x: 75000000 if x == '£50 to £100 million (GBP)' else x)
df3['overview.revenue'] = df3['overview.revenue'].apply(lambda x: 17500000 if x == '£10 to £25 million (GBP)' else x)
df3['overview.revenue'] = df3['overview.revenue'].apply(lambda x: 600000 if x == 'Unknown / Non-Applicable' else x)
df3['overview.revenue'] = df3['overview.revenue'].apply(lambda x: 7500000 if x == '£5 to £10 million (GBP)'else x)
df3['overview.revenue'] = df3['overview.revenue'].apply(lambda x: 10000000000 if x == '£10+ billion (GBP)' else x)
df3['overview.revenue'] = df3['overview.revenue'].apply(lambda x: 3000000 if x == '£1 to £5 million (GBP)'else x)

In [79]:
df3['overview.size'].unique()

array(['10000+ employees', '1001 to 5000 employees', '1 to 50 employees',
       '501 to 1000 employees', '5001 to 10000 employees',
       '201 to 500 employees', '51 to 200 employees', 'Unknown'],
      dtype=object)

In [80]:
df3['overview.size'] = df3['overview.size'].apply(lambda x: 10000 if x == '10000+ employees' else x)
df3['overview.size'] = df3['overview.size'].apply(lambda x: 3001 if x ==  '1001 to 5000 employees'else x)
df3['overview.size'] = df3['overview.size'].apply(lambda x: 26 if x == '1 to 50 employees' else x)
df3['overview.size'] = df3['overview.size'].apply(lambda x: 751 if x == '501 to 1000 employees' else x)
df3['overview.size'] = df3['overview.size'].apply(lambda x: 7501 if x == '5001 to 10000 employees' else x)
df3['overview.size'] = df3['overview.size'].apply(lambda x: 351 if x ==  '201 to 500 employees' else x)
df3['overview.size'] = df3['overview.size'].apply(lambda x: 126 if x ==   '51 to 200 employees' else x)
df3['overview.size'] = df3['overview.size'].apply(lambda x: 50 if x ==  'Unknown' else x)

In [81]:
df3 = df3.drop(labels = ['gaTrackerData.empSize'], axis = 1)

In [82]:
df3.head()

,header.normalizedJobTitle,gaTrackerData.sector,header.location,header.rating,map.employerName,overview.revenue,overview.size,rating.starRating,salary.salaries,reviews.val.reviewRatings.careerOpportunities,reviews.val.reviewRatings.compBenefits,reviews.val.reviewRatings.cultureValues,reviews.val.reviewRatings.overall,reviews.val.reviewRatings.seniorManagement,reviews.val.reviewRatings.worklifeBalance,reviews.val.reviewerDuration,reviews.val.reviewerInformation,reviews.val.summaryPoints.ceoApproval
1,Assistant data analyst,Manufacturing,France,3.7,Saint-Gobain,7500000000,10000,3.7,48816.0,5.0,4.0,5.0,5.0,5.0,5.0,for more than a year,Current Employee: I have been working at Pensk...,1.0
3,Assistant data analyst,Telecommunications,Arcueil,3.8,Orange,7500000000,10000,3.8,97305.0,5.0,4.0,4.0,5.0,3.0,4.0,for more than 3 years,Current Employee: I have been working at Goril...,1.0
4,Assistant data analyst,Telecommunications,Orange,3.8,Orange,7500000000,10000,3.8,138911.0,5.0,5.0,5.0,5.0,5.0,5.0,for less than a year,Current Employee: I have been working at Passe...,0.0
5,Assistant data analyst,Retail,Saint-Denis,2.6,Showroomprive.com,1500000000,3001,2.6,38964.0,4.0,3.0,5.0,5.0,4.0,4.0,for less than a year,Current Employee: I have been working at Habib...,0.0
6,Assistant data analyst,Retail,La Plaine-sur-Mer,2.6,Showroomprive.com,1500000000,3001,2.6,99299.0,4.0,4.0,5.0,4.0,4.0,4.0,for more than a year,Current Employee: I have been working at Abbot...,1.0

In [83]:
df3['reviews.val.reviewerInformation'] = df3['reviews.val.reviewerInformation'].apply(lambda x: 'Current Employee' if x[0] == 'C' else 'Former Employee')

In [84]:
df3.head()

,header.normalizedJobTitle,gaTrackerData.sector,header.location,header.rating,map.employerName,overview.revenue,overview.size,rating.starRating,salary.salaries,reviews.val.reviewRatings.careerOpportunities,reviews.val.reviewRatings.compBenefits,reviews.val.reviewRatings.cultureValues,reviews.val.reviewRatings.overall,reviews.val.reviewRatings.seniorManagement,reviews.val.reviewRatings.worklifeBalance,reviews.val.reviewerDuration,reviews.val.reviewerInformation,reviews.val.summaryPoints.ceoApproval
1,Assistant data analyst,Manufacturing,France,3.7,Saint-Gobain,7500000000,10000,3.7,48816.0,5.0,4.0,5.0,5.0,5.0,5.0,for more than a year,Current Employee,1.0
3,Assistant data analyst,Telecommunications,Arcueil,3.8,Orange,7500000000,10000,3.8,97305.0,5.0,4.0,4.0,5.0,3.0,4.0,for more than 3 years,Current Employee,1.0
4,Assistant data analyst,Telecommunications,Orange,3.8,Orange,7500000000,10000,3.8,138911.0,5.0,5.0,5.0,5.0,5.0,5.0,for less than a year,Current Employee,0.0
5,Assistant data analyst,Retail,Saint-Denis,2.6,Showroomprive.com,1500000000,3001,2.6,38964.0,4.0,3.0,5.0,5.0,4.0,4.0,for less than a year,Current Employee,0.0
6,Assistant data analyst,Retail,La Plaine-sur-Mer,2.6,Showroomprive.com,1500000000,3001,2.6,99299.0,4.0,4.0,5.0,4.0,4.0,4.0,for more than a year,Current Employee,1.0

In [85]:
df3.columns

Index(['header.normalizedJobTitle', 'gaTrackerData.sector', 'header.location',
       'header.rating', 'map.employerName', 'overview.revenue',
       'overview.size', 'rating.starRating', 'salary.salaries',
       'reviews.val.reviewRatings.careerOpportunities',
       'reviews.val.reviewRatings.compBenefits',
       'reviews.val.reviewRatings.cultureValues',
       'reviews.val.reviewRatings.overall',
       'reviews.val.reviewRatings.seniorManagement',
       'reviews.val.reviewRatings.worklifeBalance',
       'reviews.val.reviewerDuration', 'reviews.val.reviewerInformation',
       'reviews.val.summaryPoints.ceoApproval'],
      dtype='object')

In [87]:
df3.to_csv(r'C:\Users\youss\FinTech\Predicting-Job-Scores\cleaned-glassdoor-dataset.csv')